## Task for Practice

1. go to [https://eservices.mas.gov.sg/fid/institution](https://eservices.mas.gov.sg/fid/institution)
2. Choose a Sector and License Type/Status (make sure you have listings to scrape)
3. Scrape the name, phone number, and address of the entities there. (Scrape multiple pages if you wish)
4. Put it all into a dataframe

In [12]:
import rpa

In [31]:
rpa.init()

True

In [32]:
rpa.url("https://eservices.mas.gov.sg/fid/institution")

True

In [33]:
#Filter by Banking
rpa.click("//*[@id='divResultContent']/div/div[1]/div[2]/div[1]/div/div[1]/p/a")

#FIlter by Local Bank
rpa.click("//*[@id='divResultContent']/div/div[1]/div[2]/div/div/div[6]/p/a")

True

In [34]:
total = rpa.count("(//*[@class='inner']/a)/@href")
total

3

In [35]:
name_list = []
number_list = []
address_list = []

for i in range(1, total + 1):
    
    name_list.append(rpa.read(f"//*[@id='divResultContent']/div/div[2]/div[{i}]/a/h3"))
 
    number_list.append(rpa.read(f"//*[@id='divResultContent']/div/div[2]/div[{i}]/div[2]/table/tbody/tr[2]/td[2]/a"))

    address_list.append(rpa.read(f"//*[@id='divResultContent']/div/div[2]/div[{i}]/div[2]/table/tbody/tr[3]/td[2]"))

In [36]:
print(len(name_list))
print(len(number_list))
print(len(address_list))

3
3
3

In [37]:
import pandas as pd
data = pd.DataFrame({"Bank Name":name_list,
              "Contact Number":number_list, "Address Name":address_list})

data

,Bank Name,Contact Number,Address Name
0,HONG LEONG FINANCE LIMITED,+65 64159433,16 RAFFLES QUAY #01-05 HONG LEONG BUILDING 048581
1,SING INVESTMENTS & FINANCE LIMITED,+65 63050300,96 ROBINSON ROAD #01-01 SIF BUILDING 068899
2,SINGAPURA FINANCE LTD,+65 68800633,150 CECIL STREET #01-00 069543

In [20]:
rpa.close()

True